/* CSS styling */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #eeb1fa;
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 20px;
  font-size: 2rem;
  color: #333;
}

.map-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}

.country {
  cursor: pointer;
  text-align: center;
  width: 150px;
  transition: transform 0.3s;
}

.country:hover {
  transform: scale(1.05);
}

.country img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.country p {
  font-size: 1rem;
  margin-top: 5px;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  overflow: auto; /* Allows scrolling */
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%; /* Make the width of the popup responsive */
  max-width: 400px; /* Maximum width */
  max-height: 80%; /* Limit the height to avoid stretching */
  text-align: center;
  position: relative;
  overflow-y: auto; /* Allow vertical scrolling */
}

.popup-content h2 {
  margin-top: 0;
  font-size: 1.5rem;
}

.popup-content img {
  /* width: 100%; */
  /* height: auto; */
  margin-top: 10px;
  border-radius: 5px;
}

.popup-content #country-image {
  max-width: 100%; /* Ensure the image fits within the popup */
  max-height: 200px; /* Limit the height to prevent it from becoming too large */
  object-fit: cover; /* Ensures the image maintains aspect ratio */
}

.popup-content #country-tradition-image {
  max-width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #333;
}
